/*Css*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #666699;
}

.site-color-primary {
    color: #809fff;
}

.site-color-secundary {
    color: #ffb366;
}

.site-background-primary {
    background-color: #809fff;
}

.site-background-secundary {
    background-color: #ffb366;
}

.hometext {
    width: 400px;
    text-align: center;
    font-size: 60px;
    color: #ccc;
    position: absolute;
    font-weight: 700;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.boxlogin {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #666699;
    z-index: 1;
}

.boxlogin-container {
    box-sizing: border-box;
    width: 320px;
    padding: 50px 25px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.boxlogin-title {
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    color: #666699;
    font-size: 30px;
    font-weight: 700;
}

.boxlogin-group {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.boxlogin-label {
    box-sizing: border-box;
    color: #a7a7a7;
    margin-left: 15px;
    font-size: 14px;
    top: 14px;
    position: relative;
    background-color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
}

.boxlogin-input {
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #666699;
    padding: 15px 20px;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
    color: #5a5aa2;
    transition: color .5s, border .5s;
    -webkit-transition: color .5s, border .5s;
    -moz-transition: color .5s, border .5s;
    -ms-transition: color .5s, border .5s;
    -o-transition: color .5s, border .5s;
}

.boxlogin-group:focus-within .boxlogin-label {
    color: #666699;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
}

.boxlogin-input:focus {
    border-color: #39ac39;
    transition: color .5s, border .5s;
    -webkit-transition: color .5s, border .5s;
    -moz-transition: color .5s, border .5s;
    -ms-transition: color .5s, border .5s;
    -o-transition: color .5s, border .5s;
}


.boxlogin-center {
    display: flex;
    justify-content: center;
}

.boxlogin-submit {
    margin-top: 20px;
    padding: 15px 70px;
    background-color: #39ac39;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}

.boxlogin-submit:hover {
    background-color: #45d045;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}

.boxlogin-submit:hover {
    background-color: rgba(43, 135, 43)ac39;
}



.dashbord {
    width: 100%;
    box-sizing: border-box;
}

.dashbord-topinfo {
    width: 100%;
    box-sizing: border-box;
}

.dashbord-topinfo-user {
    width: 100%;
    box-sizing: border-box;
}

.dashbord-item-button-quit {
    width: 100%;
    box-sizing: border-box;
}

.dashbord-group {
    width: 100%;
    box-sizing: border-box;
}

.dashbord-item {
    width: 100%;
    box-sizing: border-box;
}