/*Css*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.boxlogin {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #666699;
    z-index: 1;
}

.boxlogin-container {
    box-sizing: border-box;
    width: 400px;
    padding: 50px 25px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.boxlogin-title {
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    color: #666699;
    font-size: 30px;
    font-weight: 700;
}

.boxlogin-group {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.boxlogin-label {
    box-sizing: border-box;
    color: #999;
    margin-left: 5px;
    font-size: 15px;
}

.boxlogin-input {
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    outline: none;
}

.boxlogin-center {
    display: flex;
    justify-content: center;
}

.boxlogin-submit {
    margin-top: 20px;
    padding: 15px 50px;
    background-color: #39ac39;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.boxlogin-submit:hover {
    background-color: rgba(43, 135, 43)ac39;
}